repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^pkg/argocd/templates/
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: gofmt
        args: [-w, -s]
        language: system
        types: [go]
        pass_filenames: true

      - id: go-vet
        name: go vet
        entry: go vet ./...
        language: system
        types: [go]
        pass_filenames: false
        always_run: true

      - id: golangci-lint
        name: golangci-lint
        entry: golangci-lint run
        args: [--fix]
        language: system
        types: [go]
        pass_filenames: false
        always_run: true

      - id: go-test
        name: go test
        entry: go test
        args: [-v, -short, ./...]
        language: system
        types: [go]
        pass_filenames: false
        always_run: true
