apiVersion: apps/v1
kind: Deployment
metadata:
  name: nebari-operator-controller-manager
  namespace: nebari-operator-system
spec:
  template:
    spec:
      containers:
        - name: manager
          image: quay.io/nebari/nebari-operator:v0.1.0-alpha.1
          env:
            # Keycloak integration configuration
            - name: KEYCLOAK_ENABLED
              value: "true"
            - name: KEYCLOAK_URL
              value: "{{ .KeycloakAuthURL }}"
            - name: KEYCLOAK_REALM
              value: "nebari"
            - name: KEYCLOAK_ADMIN_SECRET_NAME
              value: "keycloak-admin-credentials"
            - name: KEYCLOAK_ADMIN_SECRET_NAMESPACE
              value: "keycloak"
            - name: TLS_CLUSTER_ISSUER_NAME
              value: "{{ .CertificateIssuer }}"
