# Keycloak Secrets Template (Reference Only)
#
# NOTE: This file is NOT used directly. Secrets are created programmatically
# by the Go code in pkg/kubernetes/foundational.go via createKeycloakSecrets().
#
# Passwords are randomly generated at deploy time using crypto/rand (see
# generateSecurePassword() in cmd/nic/deploy.go). The generated admin password
# is displayed in the console output after deployment.
#
# To retrieve passwords after deployment:
#   kubectl get secret keycloak-admin-credentials -n keycloak \
#     -o jsonpath="{.data.admin-password}" | base64 -d
#
# This file serves as documentation of the secret structure.

---
apiVersion: v1
kind: Secret
metadata:
  name: keycloak-admin-credentials
  namespace: keycloak
type: Opaque
stringData:
  admin-password: "<randomly-generated>"  # 43-char base64url password

---
apiVersion: v1
kind: Secret
metadata:
  name: keycloak-postgresql-credentials
  namespace: keycloak
type: Opaque
stringData:
  password: "<randomly-generated>"  # Keycloak DB user password

---
apiVersion: v1
kind: Secret
metadata:
  name: postgresql-credentials
  namespace: keycloak
type: Opaque
stringData:
  postgres-password: "<randomly-generated>"  # PostgreSQL admin password (DBPassword + "-admin")
  user-password: "<randomly-generated>"      # PostgreSQL default user password (DBPassword + "-user")
