apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: default-pool
  namespace: metallb-system
  labels:
    app.kubernetes.io/name: metallb
    app.kubernetes.io/managed-by: nebari-infrastructure-core
spec:
  addresses:
    - {{ .MetalLBAddressRange }}
