name: End-to-End Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [end_to_end]
  workflow_dispatch:

# Need ID token write permission to use OIDC
permissions:
  id-token: write
  contents: read

jobs:
  end-to-end:
    runs-on: ubuntu-latest
    timeout-minutes: 90
    env:
      GIT_SSH_PRIVATE_KEY: ${{ secrets.GIT_SSH_PRIVATE_KEY }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Build NIC
        run: make build

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::038715196064:role/github-nebari-ci
          aws-region: us-east-1

      - name: Verify AWS credentials
        run: aws sts get-caller-identity

      - name: Deploy
        run: ./nic deploy -f examples/AWS-end-to-end.yaml --regen-apps --timeout 40m

      - name: Destroy
        if: always()
        run: ./nic destroy -f examples/AWS-end-to-end.yaml --auto-approve --timeout 40m
